<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>

<script>
$(document).ready(function(){
	var f=$("#f1");
	f.submit(function(){
		$("#submitB").attr("value","Submitted");
		$("#submitB").attr("class","btn btn-success");
		$("#fakeanchor").show();
		$("#fakeanchor").attr("href", "#/marketStudy")
	});
});
</script>

<h1 id="secondHeading" style="margin-left:30px;"> Add New Car </h1>
                  
<div id="divider" style="margin-left:20px;width:500px;"></div>
 <div style="margin-left:70px;margin-top:30px;">
 <div><div style="width:25px;height:25px;background-color:#000059;float:left;display:inline-block;"></div><div style="float:left;display:inline-block;font-weight:bold;"><a href="#/forecast">--->Forecasting</a></div></div>
 <br>
 <br>
 <div><div style="width:25px;height:25px;background-color:#000059;float:left;display:inline-block;"></div><div style="float:left;display:inline-block;font-weight:bold;">--->Initital Blueprint(Upload Image)</div></div>
 <br>
 <br>
</div>
<center><div id="formdiv">
<form id="f1" ng-submit="addInitialBlueprint()">
<table><tr><td>Please upload an image:</td><td><input type="file" fileread="uploadme.src" required/>
 <input type="text" ng-model="uploadme.src"/></td></tr>
<br>
<br>
<br>
</table>
<br>
<br>
<table>
<tr><td><input type="submit" class="btn btn-info" value="Submit" id="submitB"/></td><td> 
<a id="fakeanchor"  class="btn btn-primary" style="display:none;">Proceed to next phase..</a></td>
</tr>
</table>
</form>

	</div>
</center>
