
<h1 id="secondHeading" style="margin-left:30px;"> My Cars </h1>
                  
<div id="divider" style="margin-left:20px;width:500px;"></div>
<div style="height:200px;">
<ul>
        <li ng-repeat="item in car track by $index">
        	<div id="carDiv">
         <span><b>Project Name : </b>{{item.name}}</span>
         
         <span><b>Project Manager : </b>{{item.manager}}</span>
     </div>
        </li>
      </ul>
</div>

<a class="btn btn-primary" href="#/addCar" style="margin-left:20px;">Add New Car</a>
